* {
  padding: 0;
  margin: 0;
}

.clearfix::after {
  content: "";
  clear: both;
  display: block;
}

.flot-left {
  float: left;
}

.flot-right {
  float: left;
}

.float-right {
  float: right;
  position: relative;
  top: -33px;
  right: 113px;
  background: #436fbf;
  color: white;
  padding: 12px 71px;
  box-shadow: 0px 0px 10px red;
  border-radius: 5px;
  cursor: pointer;
}

.width {
  width: 22%;
  border: 2px solid black;
}

.padding-margin {
  padding: 25px;
  margin: 0px 15px;
}

.full-page {
  margin: auto;
}

.full-page .menu-bar {
  background-image: url(./img/background-01.jpg);
  background-size: cover;
  height: 600px;
}

.full-page .menu-bar .menu {
  background: transparent;
  position: relative;
  top: 80px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.full-page .menu-bar .menu h3 {
  float: left;
  color: white;
}

.full-page .menu-bar .menu .item {
  float: right;
}

.full-page .menu-bar .menu .item li {
  display: inline-block;
  padding: 10px 20px;
  font-weight: 900;
  text-transform: uppercase;
  cursor: pointer;
  color: white;
}

.full-page .menu-bar .menu .item li:hover {
  color: #c7bbbb;
}

.full-page .menu-bar .banner {
  position: relative;
  top: 200px;
  left: 350px;
  width: 600px;
  text-align: center;
  color: white;
}

.full-page .menu-bar .banner .in {
  outline: none;
  border: none;
  background: rgba(165, 153, 153, 0.993);
  padding-left: 10px;
  padding-bottom: 3px;
  color: black;
}

.full-page .menu-bar .banner .fs {
  font-size: 20px;
  padding: 11px;
  color: black;
}

.full-page .under-banner {
  padding: 20px 0px;
}

.full-page .contain .div1, .full-page .contain .div2, .full-page .contain .div3, .full-page .contain .div4 {
  background: #f7afa6;
  border-radius: 10px;
}

.full-page .contain .div1 i, .full-page .contain .div2 i, .full-page .contain .div3 i, .full-page .contain .div4 i {
  font-size: 25px;
}

.full-page .contain .div1 button, .full-page .contain .div2 button, .full-page .contain .div3 button, .full-page .contain .div4 button {
  padding: 10px 18px;
  background: #6ac0cf;
  outline: none;
  transition: .8s;
  font-weight: 800;
}

.full-page .contain .div1 button:hover, .full-page .contain .div2 button:hover, .full-page .contain .div3 button:hover, .full-page .contain .div4 button:hover {
  transform: translate(10%);
  background: #2e2a2a;
  color: white;
  box-shadow: 0px 0px 8px blueviolet;
}

.full-page .images {
  position: relative;
  top: 0;
  left: 2.6%;
}

.full-page .images .img1 {
  margin: 15px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.397);
  border-radius: 5px;
}

.full-page .about-me .pic {
  width: 58%;
}

.full-page .about-me .notice {
  width: 40%;
}

.full-page .about-me .notice li {
  list-style: none;
}

.full-page .about-me .notice li a {
  background: #08a254;
  padding: 14px 50px;
  margin: 15px 0px;
  display: inline-block;
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 18px;
  border-radius: 8px;
}
/*# sourceMappingURL=style.css.map */